---
layout: default
---
<article>
    <header>
        <h1>{{ page.title }}</h1>
        <time pubdate="pubdate">{{ page.date | date_to_string }}</time>
    </header>
    {{ content }}
    <footer>
        <aside>
            <section class="related">
                <h2>Related Posts</h2>
                <ul class="related-posts">
                    {% for post in site.related_posts limit:2 %}
                    <li>
                        <h3>
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                {{ post.title }}
                                <small>{{ post.date | date_to_string }}</small>
                            </a>
                        </h3>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
    </footer>
</article>

<div id="disqus_thread"></div>
